@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

nav {
list-style: none;

display: flex;

padding: 10px 27px;

font-size: 20px;
}



nav a{
	color: white;
}

body{
	font-family: 'Lato', sans-serif ;
}


header{
	display: flex;
	justify-content:space-between;
	color: white;
	
	animation:3s fadein;
	opacity: 1;
}

@keyframes fadein{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}

header nav li {
	margin:0 15px;
}

a:hover{
	opacity: 0.75;
}

.front h1{
	font-size: 32px;
}

section {
	display: flex;
	flex-direction:column;
}

section:nth-child(odd){
	background-color: #f5f5f5;
}


.back-img{
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.btn{
	margin: 15px;
	font-style: none;
	font-size: 23px;
	padding:10px;
	border:3px;
	border-radius: 5px;
	background-color:#9b6d6d;
	color: white;
}

.impress{
	display: flex;
	font-size: 40px;
	justify-content:space-around;
	margin: 45px;
}

.impress span{
	font-size: 30px;

}

.info {
	font-size: 20px;
	text-align: center;
}

.gallery {
	margin-top: 20px;
	display: flex;
	width: 100%;
	justify-content:center;
	flex-direction:row;
	max-height: 351px;
}

.gallery .large{
	flex-basis:60%;
	flex-shrink:1;
	flex-grow:3;
	margin: 10px;
}

.gallery .small{
	flex-basis:40%;
	flex-shrink:3;
	flex-grow:1;
	margin: 10px;
}

.reason{
	display: flex;
	margin:0px 150px 150px 150px;
	justify-content:space-between;

}

.reason i {
	font-size: 56px;
}

.reason div {
	max-width: 300px;
	text-align: center;
	display: flex;
	flex-direction:column;
}

.why{
	text-align: center;
	font-size: 44px;
	margin: 70px ;
}

section .testemonial {
	background:white;
}

.quote{
	text-align: center;
	font-size: 15px;
}

.author{
	text-align: center;
	font-size: 17px;
}

.contact {
    margin-top: 100px;
    padding: 100px 0px;
}

.contact div {
    margin: 0 361px;
}

.Email {
    height: 49px;
    width: 376px;
    border-radius: 10px;
    font-size: 20px;
}

.footer{
	background: #a7a2a2;
	color: white;
	height: 60px;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	opacity: 0.76;
}

.footer a{
	color: white;
}

.front{
	padding: 256px;
	color: white;
	text-align: center;
	animation: 1s font-style ease-in;
}

@keyframes slidefade{
	0%{
		opacity: 0;
		margin-top: 60px;
	}

	
	100%{
		opacity: 1;
		margin-top: 0;
	}
}

@media (max-width: 800px){
	nav{
		flex-direction:row;
	}

	header{
		flex-direction:column;
		align-items:center;
		justify-content:space-around;
	}

	.front{
			padding: 100px;
	}

	.btn{
		font-size: 23px;
		margin:0;
		padding: 0px;
	}

	.impress{
		margin:40px;
		flex-direction:column;
		align-items:center;
		justify-content:space-around;
	}

	.back-img{
		max-height: 500px;
	}

	.gallery{
		flex-direction:column;
		max-height: 600px;
	}

	.reason{
		flex-direction:column;
		margin: 0 auto;
	}

	.reason div{
		margin: 34px;
	}
	
	.contact div{
		margin: 0 auto;
	}
	.contact .btn{
	margin: 15px;
	font-style: none;
	font-size: 23px;
	padding:10px;
	}

	.footer{
		flex-direction:column;
		height: 100px;
	}

}